<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>Entrer Quelque chose </h2>
    </div>
  <% end %>
<div class="blog_content">
  <%= form.label :content %>
  <%= form.text_field :content %>
  </div>
  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
  </div>
  <%= form.submit 'Submit' %>
<% end %>
<br>
<%= link_to "Back", blogs_path %>
